[credential]
  helper = manager

[alias]
  a = add .
  b = checkout -b # git checkout -b newbranch 
  bl = branch -a # list all branches
  c = commit -am # commit add message
  cl = clone
  co = checkout
  d = diff
  db = branch -D # delete branch
  f = fetch
  i = init 
  # https://egghead.io/lessons/git-make-my-git-log-look-pretty-and-readable
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches 
  o = open # see: https://github.com/paulirish/git-open ♥
  p = pull
  prune = remote prune origin
  pt = push --tags
  ra = rebase --abort # use if you have trouble with merge conflict
  rc = rebase --continue # use after resolving conflicts
  rs = rebase --skip # nothing to resolve move along
  rv = remote -v # verify remote url
  s = status
  sc = clone --depth 20 # shallow clone 
  t = tag -l # list tags
  ta = tag -a # add tag

[color]
  ui = true

[user]
  name = mngste
  email = mangouste@mosaurus.com
	signinkey = /data/data/com.termux/files/home/.ssh/id_ed25519.pub

# Help with typos
[help]
  autoCorrect = 20

# Pull settings
[pull]
  ff = only
  rebase = true

# Default branch name
[init]
  defaultBranch = main

# Fix conflicts only once
[rerere]
  enabled = true

# Auto prune when fetching
[fetch]
  prune = true

# GPG settings for SSH signing
[gpg]
	format = ssh

[commit]
  gpgsign = true
[tag]
	gpgsign = true
